# .NET
bin/
obj/
*.user
*.suo
.vs/

# Node & Nx
node_modules/
dist/
tmp/
.nx/cache/
.nx/workspace-data/

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
